<% @alpha_sorted_recipes.each do |r| %>
	<% if r.title[0] == @letter %>
		<h3><%= r.title %></h3>
		<h5>Ingredients</h5>
		<ul>
			<% r.ingredients.each do |i| %>
				<li><%= i.name %></li>
			<% end %>
		</ul>
		<h5>Insturctions</h5>
		<p><%= r.instruction.gsub(/\n/, '<br/>').html_safe %></p>
		<% if admin? %>
			<%= link_to "Edit", edit_path(id: r.id) %>
		<% end %>
	<% end %>
<% end %>