<ul>
	<li><%= link_to "Add a Recipe", new_path %></li>
	<li><%= link_to "See all Entrees", display_path(id: 1) %></li>
	<li><%= link_to "See all Desserts", display_path(id: 2) %></li>
	<li><%= link_to "See all Breads", display_path(id: 3) %></li>
</ul>