@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: calibri;
	text-decoration: none;
}

#logo:hover {
	color: #999999;
}

#search{
	margin-top: 12px;
}

#main-menu {
	a:link {
		font-size: 2.2em;
		font-family: calibri;
		color: #fff;
	}
	a:hover {
		font-weight: bold;
		text-decoration: none;
	}
}

.hidden {
	display: none;
}

.alert {
	text-align: center;
}

.btn {
	margin-top: 10px;
}

body {
	padding-top: 80px;
	font-family: tahoma;
}

.navbar {
	background-color: #99ccff;
	padding-left: 15px;
	a {
		color: #003366
	}
}

.navbar-inner {
}