@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: calibri;
	text-decoration: none;
}

.container-main {
	background-color: #D4DDD3;
	border-radius: 10px;
}

#logo:hover {
	color: #373535;
}

#search{
	margin-top: 12px;
}

.home {
	background-image: url(/cooking.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.panel {
	background-color: rgba(156,149,149,0.4);
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-horizontal {
	width: 700px;
}

.panel-vertical {
	width: 350px;
}

.menu {
	a:link {
		font-size: 2.2em;
		font-family: calibri;
		color: #ffffff;
	}
	a:hover {
		font-weight: bold;
		text-decoration: none;
	}
	a:visited {
		color: #ffffff;
	}
}

#main-menu {
	h1 {
		font-family: calibri;
		font-weight: bold;
		color: #424248;
	}
}

.hidden {
	display: none;
}

.alert {
	text-align: center;
}

.btn {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-primary {
	background-color: #F0D218;
	border: none;
	color: #373535;
}

body {
	padding-top: 80px;
	font-family: tahoma;
}

.navbar {
	background-color: rgba(95,148,74,0.8);
	padding-left: 15px;
	border: none;
	a {
		color: #003366;
	}
}

.navbar-nav > li {
	a:link {
		color: #373535;
	}
	a:visited {
		color: #373535;
	}
}

.navbar-inner {
}